{%	load	static	%}
<html>				
<head>	
<meta name="viewport" content="width=device-width, initial-scale=1">							
	<title>Mercy's profile</title>	
<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">							
<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">					
<link	rel="stylesheet"	href="{%	static	'css/blog.css'	%}">		
</head>				
<body>

<nav class= "topnav";>

<a href="#" style="color: white">Home</a>
<a href="#" style="color: white">Portfolio</a>
<a href="{% url 'Resume' %}" style="color: white">Resume</a>
<a href="{% url 'blogging' %}" style="color: white">Blog</a>

</nav>

<div class=image;>
<center><img src="{% static 'm.jpg' %}" class = "imag"></center>
</div>

	
<div class=container;>
<img src="{% static 'about.png' %}" class ="ima"/> <img src="{%static 'walking.gif' %}"/>
<center>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<img src="{%static 'codegi.gif' %}"/>
</center>

</div>

<div class= line; style="width:100%; background: blue; height:50px;">
</div>

<nav class= box;>
<a href="{% url 'Portfolio' %}"><img src="{%static 'me.jpg' %}" alt=""/></a> 
<a href="{% url 'blogging' %}"><img src= "{% static 'blog.jpg' %}" alt=""/></a>
<a href="{% url 'Resume' %}"><img src= "{% static 'mee.jpg'%}" alt=""/></a>
</nav>


<div class= footer; style= "width:100%; height: 70px; background: #0000ff; display:inline-block;">
<a href="https://twitter.com/merciee_e" ><img src="{% static 'twitter.png' %}" alt=""/></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

<a href="https://www.instagram.com/_bukun.mee/" ><img src="{% static 'instagram.jpg' %}" alt=""/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

<a href="mailto:mercymameddu12@gmail.com"><img src="{% static 'gmail.jpg' %}" alt=""/></a>
<center><p>
Created by Mercy Mamedu
</center></p>
</div>				
</body> 
</html>
