{% load staticfiles %}
<html>				
<head>	
<meta name="viewport" content="width=device-width, initial-scale=1">							
	<title>Resume</title>
	</head>				
<body style= "background-color: black;">

<nav class= "topnav" style="background-color: black;" ;>

<a href="{% url 'post_list' %}" style="color: white">Home</a>
<a href="{% url 'Portfolio' %}" style="color: white">Portfolio</a>
<a href="#" style="color: white">Resume</a>
<a href="{% url 'blogging' %}" style="color: white">Blog</a>

</nav>
<img src="{% static 'Rimage.jpg' %}" style="width: 100%; height: 90%;">
<center>
<p style= "color: white;">
Sorry.....currently no resume
</p>
</center>
</body>
</html>